body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;    
    overflow: hidden;
    background-color: cornflowerblue;      
}
li{    
    float: left;
}
li a{ 
    display: block;   
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    
}
a:hover{
    background-color: rgb(74, 110, 177);
}
a:active{
    background-color: rgb(0, 79, 226);
}
.navbar > .active > a {
    background-color: rgb(0, 79, 226);
  }
#logIn{
    height: 250px;
    position: relative;    
}

main{    
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: cornflowerblue;
    text-align: center;
    color: white;
    border-radius: 20px;
    border: 3px solid rgb(0, 79, 226);
}

#botaoLogin{
    margin-top: 20px;
    background-color: rgb(0, 79, 226);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
}

#usuario, #senha{
    display: block;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    margin: auto;
    max-width: 300px;
    text-align: center;
    padding: 12px 20px ;
}

